body {
    font-family: Arial, sans-serif;
    background-color: #010b18;
    padding: 20px;
}

h2{
    text-align: center;
    color: #010b18;
}

form {
    background-color: #ffffff;
    width: 350px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.15);
}

legend {
    text-align: center;
    color: #010b18;
    font-weight: bold;
    font-size:24px;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #010b18;
}

input::placeholder, textarea::placeholder, option::placeholder{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: #c1c1c1;
}

input, textarea, select{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

input, select, textarea, button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccd4e0;
    border-radius: 4px;
    box-sizing: border-box;
}

input:focus, select:focus, textarea:focus {
    border-color: #6f8abf;
    outline: none;
}

button {
    background-color: #010b18;
    color: white;
    border: none;
    margin-top: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #071d42;
}

