@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(113, 113, 113, 0.1);
}

nav {
    padding: 15px 0;
}


.titulo {
    font-weight: bold;
    margin-right: auto;
}

.menu {
    display: flex;
    justify-content:flex-end;
    align-items: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    border-right: 1px solid #ccc;
    padding: 15px 30px;
}

.menu li:last-child, li:first-child{
    border-right: none;
}

.menu a {
    text-decoration: none;
    color: #000;
    font-size: 15px;
}

.menu li:first-child {
    padding: 0 20px;
    font-size: 40px;
    font-family: 'Playfair Display', serif;
}

main {
    padding-top: 100px; 
}

form {
    max-width: 400px;
    margin: 20px auto;
    text-align: left;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    padding: 0 30px 20px 30px;
    background-color: #fdfdfd;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

form h2 {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    text-align: center;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: 500;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #999;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    box-sizing: border-box;
}

button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    margin-right: 10px;
    border-radius: 10px;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

footer {
    background-color: #ffffff; 
    padding: 10px;
    color: #000000;
    font-size: 15px;
    border-top: 1px solid #3E4C66;
}


.redes a {
    color: #000;
    font-size: 24px;
    margin: 0 8px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.redes a:hover {
    transform: scale(1.2);
    color: #a0a0a0;
}

@media (max-width: 768px) {
    .menu {
        flex-direction: column;
    }

    .menu li {
        border: none;
        padding: 8px 0;
    }

    form {
        width: 85%;
        margin: 30px auto;
    }

    form h2 {
        font-size: 28px;
    }
}
