@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(113, 113, 113, 0.1);
    z-index: 1000;
}

nav {
    padding: 15px 0;
    text-transform: uppercase;
}

nav ul li a.active {
  color: #000000;
  font-weight: bolder;
}

.titulo {
    font-weight: bold;
    margin-right: auto;
}

.menu {
    display: flex;
    justify-content:flex-end;
    align-items: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    border-right: 1px solid #ccc;
    padding: 15px 30px;
}

.menu li:last-child, li:first-child{
    border-right: none;
}

.menu a {
    text-decoration: none;
    color: #000;
    font-size: 15px;
}

.menu li:first-child {
    padding: 0 20px;
    font-size: 40px;
    font-family: 'Playfair Display', serif;
}

.hobbies-section {
    max-width: 1000px;
    margin: 120px auto 50px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 15px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.08);
}

.hobbies-section h1 {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: #333;
}

.hobby-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
}

.hobby-card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    border-top: 5px solid #aca4ca; /* borde destacado */
}

.hobby-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.hobby-card i {
    font-size: 40px;
    color: #aca4ca;
    margin-bottom: 15px;
}

.hobby-card h2 {
    margin: 10px 0;
    font-size: 1.5rem;
    color: #222;
}

.hobby-card p,
.hobby-card ul {
    color: #555;
    font-size: 0.95rem;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.hobby-card ul {
    list-style: disc inside;
    margin-top: 10px;
}

footer {
    background-color: #ffffff; 
    padding: 10px;
    color: #000000;
    font-size: 15px;
    border-top: 1px solid #3E4C66;
}

.redes a {
    color: #000;
    font-size: 24px;
    margin: 0 8px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.redes a:hover {
    transform: scale(1.2);
    color: #a0a0a0;
}