@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(113, 113, 113, 0.1);
}

nav {
    padding: 15px 0;
    text-transform: uppercase;
}

nav ul li a.active {
  color: #000000;
  font-weight: bolder;
}

.titulo {
    font-weight: bold;
    margin-right: auto;
}

.menu {
    display: flex;
    justify-content:flex-end;
    align-items: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    border-right: 1px solid #ccc;
    padding: 15px 30px;
}

.menu li:last-child, li:first-child{
    border-right: none;
}

.menu a {
    text-decoration: none;
    color: #000;
    font-size: 15px;
}

.menu li:first-child {
    padding: 0 20px;
    font-size: 40px;
    font-family: 'Playfair Display', serif;
}

main {
    padding-top: 100px; 
}
 
.artistas {
    display: flex;
    gap: 30px; 
    flex-wrap: wrap;
    justify-content: center; 
    padding: 20px 0;
}

.tarjeta-artista {
    width: 260px; 
    padding: 25px;
    box-shadow: 0 3px 12px rgba(0,0,0,0.12);
    border-radius: 12px; 
    text-align: center;
    background: #fff;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #000;
    border-radius: 7px;
    text-decoration: none;
    color: #000;
    letter-spacing: 2px;
    font-size: 13px;
    background: none;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px; 
}

.btn:hover {
    color: #fff;
    background-color: #000000;
}

.contenido {
    transition: margin-right 0.35s ease;
}

.panel {
    position: fixed;
    top: 80px;
    right: -370px;
    width: 300px;
    height: calc(100dvh - 80px);
    background: #fff;
    box-shadow: -3px 0 10px rgba(0,0,0,0.2);
    padding: 30px;
    transition: right 0.4s ease;
    z-index: 1000;
    overflow: hidden;
}

.contenido-panel {
    flex: 1 1 auto;
    height: 100%; 
    overflow-y: auto;
    box-sizing: border-box;
}

.panel.activo {
    right: 0; 
}

.contenido.ajustado {
    margin-right: 350px;
}

.cerrar-panel {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 35px;
    cursor: pointer;
    z-index: 10;
}

.contenido-panel img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 15px; 
}

#lista-canciones {
    list-style: none; 
    padding: 0;
    text-align: left;
    margin: 15px 0;
}

#lista-canciones li {
    margin-bottom: 8px;
}

footer {
    background-color: #ffffff; 
    padding: 10px;
    color: #000000;
    font-size: 15px;
    border-top: 1px solid #3E4C66;
}

.redes a {
    color: #000;
    font-size: 24px;
    margin: 0 8px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.redes a:hover {
    transform: scale(1.2);
    color: #a0a0a0;
}