@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff; 
    color: rgb(0, 0, 0);
    text-align: center;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
}

header {
    color: #000000;
    padding: 20px 0;
    text-align: center;
}

.frase {
    letter-spacing: 0.4em;
    font-size: 14px;
    color: #000000;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.titulo {
    font-family: 'Playfair Display', serif;
    font-size: 90px;
    font-weight: 700;
}

nav {
    box-shadow: 0 4px 10px rgba(113, 113, 113, 0.1);
    margin: 0 20px;
    padding: 20px;
    text-transform: uppercase;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
}

.menu li {
    border-right: 1px solid #ccc;
    padding: 20px 30px;
}

.menu li:last-child {
    border-right: none;
}

.menu a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
    letter-spacing: 2px;
}

.menu a:hover {
    transform: scale(1.2);
    color: #a0a0a0;
}

main {
    display: flex;
    gap: 16px;
    padding: 16px;
}

.about-me {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    max-width: 900px;
    margin: 60px auto;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.about-text {
    flex: 1;
}

.foto {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: #ffffff; 
    padding: 10px;
    color: #000000;
    font-size: 15px;
    border-top: 1px solid #3E4C66;
}

.redes a {
    color: #000;
    font-size: 24px;
    margin: 0 8px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.redes a:hover {
    transform: scale(1.2);
    color: #a0a0a0;
}

@media (max-width: 768px) {
    nav {
        margin: 0 10px;
        padding: 5px;
    }

    .menu {
        flex-direction: column;
        gap: 5px;
    }

    .menu li {
        border: none;
        padding: 5px;
    }

    .redes {
        margin-top: 5px;
    }

    header {
        padding: 15px 5px;
    }

    .frase {
        letter-spacing: 0.2em;
    }
}